@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import 'contact';
@import 'home';
@import 'nav';
@import 'projects';
@import 'resume';

html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.portfolio {
    justify-content: center;
    background: linear-gradient(to bottom, $blue-900, $blue-700);
    color: $gray-100;
    min-height: 100vh;

    @include media-breakpoint-up(md) {
        flex-direction: column;
    }
}

#root {
    min-height: 100vh;
}