@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'contact';
@import 'footer';
@import 'home';
@import 'nav';
@import 'projects';
@import 'resume';
@import 'app';

.portfolio {
    justify-content: center;
    background: linear-gradient(to bottom, $blue-900, $blue-700);
    color: $gray-100;

    @include media-breakpoint-up(md) {
        flex-direction: column;
    }
}