.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.contact-container h3 {
    margin: 20px;
}

.contact-container li {
    padding: 10px;
}

#email {
    text-decoration: underline;
}

#email:link {
    color: blue;
}

#email:visited {
    color: purple;
}

#email:hover {
    cursor: pointer;
}