.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.contact-container h3 {
    margin: 20px;
    text-align: center;
}

.contact-container li {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.contact-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    max-width: 30%;
}

.contact-container img {
    border-radius: 30%;
    width: 18%;
    object-position: bottom;
}

.contact-container a {
    font-size: 20px;
}

#email {
    text-decoration: underline;
}

#email:link {
    color: blue;
}

#email:visited {
    color: purple;
}

#email:hover {
    cursor: pointer;
}