.project-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.project-container p {
    text-align: center;
    width: 60%;
    margin: 20px;
}

.project-container h2 {
    margin: 30px;
}

.project-container img {
    min-width: 75%;
    height: auto;
}

@media (max-width: 768px) {
    .project-container img {
        max-width: 50%;
        height: auto;
    }
}